wayat/frontend/windows/
wayat/frontend/linux/
wayat/frontend/macos/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter repo-specific
/bin/cache/
/bin/internal/bootstrap.bat
/bin/internal/bootstrap.sh
/bin/mingit/
/dev/benchmarks/mega_gallery/
/dev/bots/.recipe_deps
/dev/bots/android_tools/
/dev/devicelab/ABresults*.json
/dev/docs/doc/
/dev/docs/flutter.docs.zip
/dev/docs/lib/
/dev/docs/pubspec.yaml
/dev/integration_tests/**/xcuserdata
/dev/integration_tests/**/Pods
/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
SPIKES/images_from_camera_gallery/images_camera_gallery/linux/flutter/generated_plugin_registrant.cc
SPIKES/images_from_camera_gallery/images_camera_gallery/linux/flutter/generated_plugin_registrant.h
SPIKES/images_from_camera_gallery/images_camera_gallery/linux/flutter/generated_plugins.cmake
SPIKES/images_from_camera_gallery/images_camera_gallery/windows/flutter/generated_plugin_registrant.cc
SPIKES/images_from_camera_gallery/images_camera_gallery/windows/flutter/generated_plugin_registrant.h
SPIKES/images_from_camera_gallery/images_camera_gallery/windows/flutter/generated_plugins.cmake
SPIKES/Localization/linux/flutter/generated_plugin_registrant.cc
SPIKES/Localization/linux/flutter/generated_plugin_registrant.h
SPIKES/Localization/linux/flutter/generated_plugins.cmake
SPIKES/Localization/windows/flutter/generated_plugin_registrant.cc
SPIKES/Localization/windows/flutter/generated_plugin_registrant.h
SPIKES/Localization/windows/flutter/generated_plugins.cmake
SPIKES/Routing/auto_route_example/linux/flutter/generated_plugin_registrant.cc
SPIKES/Routing/auto_route_example/linux/flutter/generated_plugin_registrant.h
SPIKES/Routing/auto_route_example/linux/flutter/generated_plugins.cmake
SPIKES/Routing/auto_route_example/windows/flutter/generated_plugin_registrant.cc
SPIKES/Routing/auto_route_example/windows/flutter/generated_plugin_registrant.h
SPIKES/Routing/auto_route_example/windows/flutter/generated_plugins.cmake
SPIKES/Routing/fluro_vs_autoroute/linux/flutter/generated_plugin_registrant.cc
SPIKES/Routing/fluro_vs_autoroute/linux/flutter/generated_plugin_registrant.h
SPIKES/Routing/fluro_vs_autoroute/linux/flutter/generated_plugins.cmake
SPIKES/Routing/fluro_vs_autoroute/windows/flutter/generated_plugin_registrant.cc
SPIKES/Routing/fluro_vs_autoroute/windows/flutter/generated_plugin_registrant.h
SPIKES/Routing/fluro_vs_autoroute/windows/flutter/generated_plugins.cmake
SPIKES/Routing/Navigation/linux/flutter/generated_plugin_registrant.cc
SPIKES/Routing/Navigation/linux/flutter/generated_plugin_registrant.h
SPIKES/Routing/Navigation/linux/flutter/generated_plugins.cmake
SPIKES/Routing/Navigation/windows/flutter/generated_plugin_registrant.cc
SPIKES/Routing/Navigation/windows/flutter/generated_plugin_registrant.h
SPIKES/Routing/Navigation/windows/flutter/generated_plugins.cmake
SPIKES/State Management/MobX&GetIt/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SPIKES/State Management/MobX&GetIt/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
wayat/.env
*.cc
SPIKES/firestore/firestore_example/linux/CMakeLists.txt
SPIKES/firestore/firestore_example/linux/flutter/CMakeLists.txt
SPIKES/firestore/firestore_example/linux/flutter/generated_plugin_registrant.h
SPIKES/firestore/firestore_example/linux/flutter/generated_plugins.cmake
SPIKES/firestore/firestore_example/linux/my_application.h
SPIKES/firestore/firestore_example/macos/Flutter/Flutter-Debug.xcconfig
SPIKES/firestore/firestore_example/macos/Flutter/Flutter-Release.xcconfig
SPIKES/firestore/firestore_example/macos/Runner.xcodeproj/project.pbxproj
SPIKES/firestore/firestore_example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SPIKES/firestore/firestore_example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
SPIKES/firestore/firestore_example/macos/Runner.xcworkspace/contents.xcworkspacedata
SPIKES/firestore/firestore_example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SPIKES/firestore/firestore_example/macos/Runner/AppDelegate.swift
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
SPIKES/firestore/firestore_example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
SPIKES/firestore/firestore_example/macos/Runner/Base.lproj/MainMenu.xib
SPIKES/firestore/firestore_example/macos/Runner/Configs/AppInfo.xcconfig
SPIKES/firestore/firestore_example/macos/Runner/Configs/Debug.xcconfig
SPIKES/firestore/firestore_example/macos/Runner/Configs/Release.xcconfig
SPIKES/firestore/firestore_example/macos/Runner/Configs/Warnings.xcconfig
SPIKES/firestore/firestore_example/macos/Runner/DebugProfile.entitlements
SPIKES/firestore/firestore_example/macos/Runner/Info.plist
SPIKES/firestore/firestore_example/macos/Runner/MainFlutterWindow.swift
SPIKES/firestore/firestore_example/macos/Runner/Release.entitlements
SPIKES/firestore/firestore_example/windows/CMakeLists.txt
SPIKES/firestore/firestore_example/windows/flutter/CMakeLists.txt
SPIKES/firestore/firestore_example/windows/flutter/generated_plugin_registrant.h
SPIKES/firestore/firestore_example/windows/flutter/generated_plugins.cmake
SPIKES/firestore/firestore_example/windows/runner/CMakeLists.txt
SPIKES/firestore/firestore_example/windows/runner/flutter_window.cpp
SPIKES/firestore/firestore_example/windows/runner/flutter_window.h
SPIKES/firestore/firestore_example/windows/runner/main.cpp
SPIKES/firestore/firestore_example/windows/runner/resource.h
SPIKES/firestore/firestore_example/windows/runner/resources/app_icon.ico
SPIKES/firestore/firestore_example/windows/runner/runner.exe.manifest
SPIKES/firestore/firestore_example/windows/runner/Runner.rc
SPIKES/firestore/firestore_example/windows/runner/utils.cpp
SPIKES/firestore/firestore_example/windows/runner/utils.h
SPIKES/firestore/firestore_example/windows/runner/win32_window.cpp
SPIKES/firestore/firestore_example/windows/runner/win32_window.h
SPIKES/import_contact_list/linux/flutter/generated_plugin_registrant.cc
SPIKES/import_contact_list/linux/flutter/generated_plugin_registrant.h
SPIKES/import_contact_list/linux/flutter/generated_plugins.cmake
SPIKES/import_contact_list/macos/Flutter/GeneratedPluginRegistrant.swift
SPIKES/import_contact_list/windows/flutter/generated_plugin_registrant.cc
SPIKES/import_contact_list/windows/flutter/generated_plugin_registrant.h
SPIKES/import_contact_list/windows/flutter/generated_plugins.cmake
SPIKES/vertical_letter_bar/linux/flutter/generated_plugin_registrant.cc
SPIKES/vertical_letter_bar/linux/flutter/generated_plugin_registrant.h
SPIKES/vertical_letter_bar/linux/flutter/generated_plugins.cmake
SPIKES/vertical_letter_bar/macos/Flutter/GeneratedPluginRegistrant.swift
SPIKES/vertical_letter_bar/windows/flutter/generated_plugin_registrant.cc
SPIKES/vertical_letter_bar/windows/flutter/generated_plugin_registrant.h
SPIKES/vertical_letter_bar/windows/flutter/generated_plugins.cmake
