<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887276025973-tvck2s564me0tcf5b55np2o09gakns41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887276025973-tvck2s564me0tcf5b55np2o09gakns41</string>
	<key>API_KEY</key>
	<string>AIzaSyAjVkDrHneMPPETPX_gAR799lGkppbTdHo</string>
	<key>GCM_SENDER_ID</key>
	<string>887276025973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spikeFiredart</string>
	<key>PROJECT_ID</key>
	<string>wayat-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>wayat-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887276025973:ios:22652eca1c1a60ba5e203c</string>
</dict>
</plist>