<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753369751483-ljtplr1lrs631vnr32ka26oel6s7vqb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753369751483-ljtplr1lrs631vnr32ka26oel6s7vqb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753369751483-ejg3fjkjibbcfkdpbadnn2tar4qi1ohr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP-AYlpck8Q6U4nDXtoKgL_aDmSeI1SrA</string>
	<key>GCM_SENDER_ID</key>
	<string>753369751483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.wayat</string>
	<key>PROJECT_ID</key>
	<string>wayat-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>wayat-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753369751483:ios:3f8780e745f7e1a19fae9e</string>
	<key>DATABASE_URL</key>
	<string>https://wayat-poc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>